body {
    margin: 0%;
    background-color: #151F2E;
}

.calculator {
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    background-color: #0B1622;
    box-sizing: border-box;
    border: solid 4px #151F2E;
    border-radius: 4%;
}

.panels {
    width: 90vw;
    height: 33vh;
    margin-top: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

    box-sizing: border-box;
    border: solid 1px whitesmoke;
    border-radius: 3%;
}


.panels > div {
    width: 90vw;
    height: 6.5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;

    text-align: right;

    background-color: #151F2E;
    color: white;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 10%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    width: 90vw;
    height: 60vh;
    margin-bottom: 5vh;

    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;
    border: solid 1px whitesmoke;
    border-radius: 3%;
}

/* .break {
    flex-basis: 100%;
    height: 0;
} */

.buttons > button {
    width: 22.1vw;
    height: 9vh;

    background-color: #151F2E;
    color: white;
    box-sizing: border-box;
    border-radius: 10%;
    font-size: 15px;
}

#dot, #add, #subtract, #multiply, #divide {
    font-size: 25px;
}

#enter{
    width: 44.2vw;
}

@media (orientation: landscape) {
    .calculator {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    .panels {
        margin: 0%;
        width: 40vw;
        height: 80vh;
        justify-content: center;
    }

    .panels > div {
        width: 40vw;
        height: 20vh;
        display: flex;
        justify-content: end;
        align-items: center;
    
        text-align: right;
    
        background-color: #151F2E;
        color: white;
        box-sizing: border-box;
        border: solid 1px black;
        border-radius: 10%;

        font-size: 35px;
    }

    .buttons {
        width: 50vw;
        height: 80vh;
        margin-bottom: 0;
    
        display: flex;
        flex-wrap: wrap;
    
        box-sizing: border-box;
        border: solid 1px whitesmoke;
        border-radius: 3%;
    }

    .buttons > button {
        width: 12.4vw;
        height: 13vh;
    
        background-color: #151F2E;
        color: white;
        box-sizing: border-box;
        border-radius: 10%;
    }
    
    #enter{
        width: 24.8vw;
    }
}
